In [100]:
import pandas as pd

In [101]:
data=pd.read_csv('conversion.csv')
#data.sort_values(by='recommended_service_ID')
data.head(10)

   user_ID recommended_service_ID conversion
0        9                     s8        yes
1        4                     s6         no
2        8                     s6         no
3        7                     s5         no
4        8                     s8         no
5        8                     s6         no
6        9                     s4         no
7       10                     s4         no
8        9                     s2        yes
9        8                     s8         no

In [102]:
data.drop(columns='user_ID')

    recommended_service_ID conversion
0                       s8        yes
1                       s6         no
2                       s6         no
3                       s5         no
4                       s8         no
5                       s6         no
6                       s4         no
7                       s4         no
8                       s2        yes
9                       s8         no
10                      s1        yes
11                      s7         no
12                      s3         no
13                      s5         no
14                      s7         no
15                      s3         no
16                      s7         no
17                      s5        yes
18                      s6         no
19                      s7         no
20                      s8        yes
21                      s6         no
22                      s5        yes
23                      s8        yes
24                      s8        yes
25                      s7         no
26                     s10         no
27                      s1         no
28                      s2         no
29                      s2        yes
..                     ...        ...
71                      s5        yes
72                     s10        yes
73                      s4         no
74                      s8         no
75                      s1        yes
76                      s4        yes
77                      s6         no
78                      s1         no
79                      s6         no
80                      s9         no
81                      s7        yes
82                      s2         no
83                      s5         no
84                     s10        yes
85                      s7        yes
86                      s9        yes
87                     s10        yes
88                     s10        yes
89                      s8        yes
90                      s6        yes
91                      s9        yes
92                      s5        yes
93                      s6        yes
94                      s7        yes
95                      s5         no
96                      s1        yes
97                     s10        yes
98                      s5         no
99                      s5        yes
100                    s10        yes

[101 rows x 2 columns]

In [103]:
gk = data.groupby('recommended_service_ID')
gk

In [104]:
sone=gk.get_group('s1')
x1=sone.shape[0]
x1
sone
c1=sone[sone['conversion']=='yes'].shape[0]/x1

In [105]:
sone=gk.get_group('s2')
x1=sone.shape[0]
x1
sone
c2=sone[sone['conversion']=='yes'].shape[0]/x1

In [106]:
sone=gk.get_group('s3')
x1=sone.shape[0]
x1
sone
c3=sone[sone['conversion']=='yes'].shape[0]/x1

In [107]:
sone=gk.get_group('s4')
x1=sone.shape[0]
x1
sone
c4=sone[sone['conversion']=='yes'].shape[0]/x1

In [108]:
sone=gk.get_group('s5')
x1=sone.shape[0]
x1
sone
c5=sone[sone['conversion']=='yes'].shape[0]/x1

In [109]:
sone=gk.get_group('s6')
x1=sone.shape[0]
x1
sone
c6=sone[sone['conversion']=='yes'].shape[0]/x1

In [110]:
sone=gk.get_group('s7')
x1=sone.shape[0]
x1
sone
c7=sone[sone['conversion']=='yes'].shape[0]/x1

In [111]:
sone=gk.get_group('s8')
x1=sone.shape[0]
x1
sone
c8=sone[sone['conversion']=='yes'].shape[0]/x1

In [112]:
sone=gk.get_group('s9')
x1=sone.shape[0]
x1
sone
c9=sone[sone['conversion']=='yes'].shape[0]/x1

In [113]:
sone=gk.get_group('s10')
x1=sone.shape[0]
x1
sone
c10=sone[sone['conversion']=='yes'].shape[0]/x1

In [115]:
print("conversion rate of service1 is",c1)
print("conversion rate of service1 is",c2)
print("conversion rate of service1 is",c3)
print("conversion rate of service1 is",c4)
print("conversion rate of service1 is",c5)
print("conversion rate of service1 is",c6)
print("conversion rate of service1 is",c7)
print("conversion rate of service1 is",c8)
print("conversion rate of service1 is",c9)
print("conversion rate of service1 is",c10)

conversion rate of service1 is 0.5714285714285714
conversion rate of service1 is 0.45454545454545453
conversion rate of service1 is 0.5
conversion rate of service1 is 0.5
conversion rate of service1 is 0.5
conversion rate of service1 is 0.4166666666666667
conversion rate of service1 is 0.3333333333333333
conversion rate of service1 is 0.7272727272727273
conversion rate of service1 is 0.375
conversion rate of service1 is 0.6666666666666666